.navbar-nav {
  justify-content: center; /* Menü elemanlarını yatayda ortala */
}

.navbar-brand {
  margin-right: 1rem; /* Logoya sağdan boşluk ver */
}

.navbar-toggler {
  border: none; /* Düğme çerçevesini kaldır */
}

.navbar-toggler-icon {
  background-color: #000; /* Düğme simgesinin rengini ayarla */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none; /* Düğme odaklandığında veya aktif olduğunda vurguyu kaldır */
}

@media (max-width: 761.98px) {
  /* 992 pikselin altındaysa (tablet ve mobil cihazlar için) */
  .navbar-nav {
    flex-direction: column; /* Menü elemanlarını dikey hizala */
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .navbar-brand {
    margin-bottom: 1rem; /* Logoya alttan boşluk ver */
  }

  .navbar-collapse {
    padding-top: 1rem; /* Açılır menü içeriğine üstten boşluk ver */
  }

  .navbar-toggler {
    margin-left: auto; /* Düğmeyi sağa hizala */
    order: -1;
    margin-left: 10px;
    margin-right: 10px;
  }
  
}