h2 {
    margin-left: 750px;
    margin-top: 30px;
  }
  
  .reservation-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 180vh;
  }
  
  .reservation-card {
    background-color: rgb(207, 189, 167);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    margin-top: 10px;
  }
  
  .reservation-button {
    background-color: rgb(125, 93, 42);
    width: 40%;
    color: rgb(254, 254, 254);
    border: 2px;
    border-radius: 30px;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    margin: 5px 120px;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  
  .reservation-button:hover {
    background-color: rgb(237, 209, 156);
  }
  
  input[type=text],input[type=email], input[type=text], input[type=date], input[type=date]{
    width: 60%;
    padding: 5px;
    margin: 15px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=email]:focus, input[type=text]:focus, input[type=date]:focus,input[type=date]:focus{
    background-color: #ddd;
    outline: none;
}