.room-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.room-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.hotel-card {
  background-color: rgb(167, 163, 163);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:500px;
  margin-left: 10px;
  margin-top:70px;
}

.room-card {
  background-color: rgb(167, 163, 163);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:500px;
  margin-left: 130px;
  margin-top:70px;
}

.room-card h3 {
  margin-top: 0;
}

.room-card p {
  margin-bottom: 10px;
}

.room-card img {
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}

.room-card .buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.room-card .button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 540px;
  margin-left: -550px;
}

.pagination .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #cccccc;
  cursor: pointer;
  margin-top: -440px;
}

.pagination .dot.active {
  background-color: #29421f;
}

.reservation{
  background-color: rgb(46, 136, 82);
  width: 55%;
  color: rgb(254, 254, 254);
  border: 2px black; 
  border-radius: 30px;       
  padding: 15px 35px;    
  text-align: center;    
  text-decoration: none;    
  display: inline-block;    
  font-size: 18px;  
  font-style: italic;
  margin: 35px 100px;    
  cursor: pointer;
  transition-duration: 0.3s;
}
.reservation:hover{
  background-color: rgb(149, 232, 163);
}
.button {
  padding: 0;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.button.prev::before,
.button.next::after {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 45px;
  display: inline-block;
  margin-top: 400px;
}

.button.prev::before {
  content: '\2039'; /* Sol ok sembolü */
  margin-left: -970px;
}

.button.next::after {
  content: '\203A'; /* Sağ ok sembolü */
  margin-left: -30px;
}


